<%include partials/header%>

<div class="ui main text container">
   <form class="ui form" action="/reset/<%= token %>" method="POST">
      <div class="field">
         <label id="resetPassword">Password</label>
         <input type="password" name="password">
      </div>
      <div class="field">
         <label id="confirmResetPassword">Confirm Password</label>
         <input type="password" name="confirm">
      </div>
      <input class="ui green button" type="submit" value="Change password">
   </form>
</div>

<%include partials/footer%>