<% include ../partials/header %>

<div class="ui main text container ">
   <div id="edit_title" class="ui huge header titles">Edit
      <%= preview.title %>
   </div>
   <form class="ui form" action="/previews/<%= preview._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="field">
         <label>Title</label>
         <input type="text" name="preview[title]" value="<%= preview.title %>">
      </div>
      <div class="field">
         <label for="image">Image</label>
         <input type="file" id="image" name="image" placeholder="image" accept="image/*">
      </div>
      <div class="field">
         <label>preview content</label>
         <textarea name="preview[body]"><%= preview.body %></textarea>
      </div>
      <input class="ui green button" type="submit" value="Save Changes">
   </form>
</div>

<% include ../partials/footer %>